.navBar {
  /* 
  Funetes de texto posibles: 
  font-family: 'Lacquer', sans-serif; 
  font-family: 'Cinzel', serif;
  */

  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 30px;

  /* margin-bottom: 10px;
  overflow: hidden;
  float: left; */
}
.title-prototipos {
  font-family: 'Lacquer', sans-serif;
}
.title-map {
  font-family: 'Lacquer', sans-serif;
}
.title-instalacion {
  font-family: 'Lacquer', sans-serif;
}
.title-transporte {
  font-family: 'Lacquer', sans-serif;
}

.center-items {
  text-align: center;
}
.rectangleGif {
  text-align: center;
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}
.cubeHomeImg {
  background-image: url('./../img/cubeHome.jpg');
  display: block;
  margin: auto;
}
.btn-down {
  cursor: pointer;
}

.cubeHome {
  height: 250px;
  width: 250px;
  display: block;
  margin: auto;
}
.mapa {
  text-align: center !important;
  height: 400px !important;
  display: block !important;
  margin: auto !important;
  padding: 0% !important;
}
.canalesComunicacion {
  height: 50px;
  width: 50px;
}
.custom-tag {
  max-width: 100%;
  height: 500px;
  background: black;
}
